
build*/
bin/
debug/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
*.bak
*.patch
*.obj
*.*build*
*.rule
*.ipch
*.sln
*.*sdf
*.dep
*.diff
*.bin
*.exe
*.dll*
*.ilk
*.pdb
*.user
*.manifest
*.*stamp*
*.log
*.vcxproj*
*.tlog
*.exp
*.lib
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*